In [56]:
import fitbit
import pandas as pd
import json
from datetime import datetime, timedelta
import traceback

In [57]:
with open('config.json') as data_file:    
    fitbit_settings = json.load(data_file)

In [58]:
access_token = open('access_token.txt', 'r').read()

In [71]:
authd_client = fitbit.Fitbit(fitbit_settings['fitbit_client_id'], fitbit_settings['fitbit_client_secret'],
                             access_token=access_token)

In [72]:
# My device was broken, so I didn't collect data for about a week.  Also, there was some time when I forgot to wear it to sleep
dates_without_fitbit_data = ['2016-09-02', '2016-09-01', '2016-08-31', '2016-08-30', '2016-08-29',
                             '2016-08-28', '2016-08-27', '2016-08-26', '2016-08-25', '2016-08-24',
                             '2016-08-10', '2016-06-30']

In [90]:
# Read in the data we already have
sleep_data = pd.read_csv('data/sleep_list2.csv')
sleep_data['dateOfSleep'] = pd.to_datetime(sleep_data['dateOfSleep'])
sleep_data.dtypes

Unnamed: 0                      int64
Unnamed: 0.1                  float64
awakeCount                      int64
awakeDuration                   int64
awakeningsCount                 int64
dateOfSleep            datetime64[ns]
duration                        int64
efficiency                      int64
isMainSleep                      bool
logId                           int64
minutesAfterWakeup              int64
minutesAsleep                   int64
minutesAwake                    int64
minutesToFallAsleep             int64
restlessCount                   int64
restlessDuration                int64
startTime                      object
timeInBed                       int64
dtype: object

In [77]:
dates_we_have_data_for = []

In [91]:
dates_we_have_data_for = [str(dt.date()) for dt in sleep_data['dateOfSleep']]
dates_we_have_data_for

['2016-12-14',
 '2016-12-13',
 '2016-12-12',
 '2016-12-11',
 '2016-12-10',
 '2016-12-09',
 '2016-12-08',
 '2016-12-07',
 '2016-12-06',
 '2016-12-05',
 '2016-12-04',
 '2016-12-03',
 '2016-12-02',
 '2016-12-01',
 '2016-11-30',
 '2016-11-29',
 '2016-11-28',
 '2016-11-27',
 '2016-11-26',
 '2016-11-25',
 '2016-11-24',
 '2016-11-23',
 '2016-11-22',
 '2016-11-21',
 '2016-11-20',
 '2016-11-19',
 '2016-11-18',
 '2016-11-17',
 '2016-11-16',
 '2016-11-15',
 '2016-11-14',
 '2016-11-13',
 '2016-11-12',
 '2016-11-11',
 '2016-11-10',
 '2016-11-09',
 '2016-11-08',
 '2016-11-07',
 '2016-11-06',
 '2016-11-05',
 '2016-11-04',
 '2016-11-03',
 '2016-11-02',
 '2016-11-01',
 '2016-10-31',
 '2016-10-30',
 '2016-10-29',
 '2016-10-28',
 '2016-10-27',
 '2016-10-26',
 '2016-10-25',
 '2016-10-24',
 '2016-10-23',
 '2016-10-22',
 '2016-10-21',
 '2016-10-20',
 '2016-10-19',
 '2016-10-18',
 '2016-10-17',
 '2016-10-16',
 '2016-10-15',
 '2016-10-14',
 '2016-10-13',
 '2016-10-12',
 '2016-10-11',
 '2016-10-10',
 '2016-10-09',
 '2016-10-08',
 '2016-10-07',
 '2016-10-06',
 '2016-10-05',
 '2016-10-04',
 '2016-10-03',
 '2016-10-02',
 '2016-10-01',
 '2016-09-30',
 '2016-09-29',
 '2016-09-28',
 '2016-09-27',
 '2016-09-26',
 '2016-09-25',
 '2016-09-24',
 '2016-09-23',
 '2016-09-22',
 '2016-09-21',
 '2016-09-20',
 '2016-09-19',
 '2016-09-18',
 '2016-09-17',
 '2016-09-16',
 '2016-09-15',
 '2016-09-14',
 '2016-09-13',
 '2016-09-12',
 '2016-09-11',
 '2016-09-10',
 '2016-09-09',
 '2016-09-08',
 '2016-09-07',
 '2016-09-06',
 '2016-09-05',
 '2016-09-04',
 '2016-09-03',
 '2016-08-23',
 '2016-08-22',
 '2016-08-21',
 '2016-08-20',
 '2016-08-19',
 '2016-08-18',
 '2016-08-17',
 '2016-08-16',
 '2016-08-15',
 '2016-08-14',
 '2016-08-13',
 '2016-08-12',
 '2016-08-11',
 '2016-08-09',
 '2016-08-08',
 '2016-08-07',
 '2016-08-06',
 '2016-08-05',
 '2016-08-04',
 '2016-08-03',
 '2016-08-02',
 '2016-08-01',
 '2016-07-31',
 '2016-07-30',
 '2016-07-29',
 '2016-07-28',
 '2016-07-27',
 '2016-07-26',
 '2016-07-25',
 '2016-07-24',
 '2016-07-23',
 '2016-07-22',
 '2016-07-21',
 '2016-07-20',
 '2016-07-19',
 '2016-07-18',
 '2016-07-17',
 '2016-07-16',
 '2016-07-15',
 '2016-07-14',
 '2016-07-13',
 '2016-07-12',
 '2016-07-11',
 '2016-07-10',
 '2016-07-09',
 '2016-07-08',
 '2016-07-07',
 '2016-07-06',
 '2016-07-05',
 '2016-07-04',
 '2016-07-03',
 '2016-07-02',
 '2016-07-01',
 '2016-06-29',
 '2016-06-28',
 '2016-06-27',
 '2016-06-26',
 '2016-06-25',
 '2016-06-24',
 '2016-06-23',
 '2016-06-22',
 '2016-06-21',
 '2016-06-20',
 '2016-06-19',
 '2016-06-18',
 '2016-06-17',
 '2016-06-16',
 '2016-06-15',
 '2016-06-14',
 '2016-06-13',
 '2016-06-12',
 '2016-06-11',
 '2016-06-10',
 '2016-06-09',
 '2016-06-08',
 '2016-06-07',
 '2016-06-06',
 '2016-06-05',
 '2016-06-04',
 '2016-06-03',
 '2016-06-02',
 '2016-06-01',
 '2016-05-31',
 '2016-05-30',
 '2016-05-29',
 '2016-05-28',
 '2016-05-27',
 '2016-05-26',
 '2016-05-25',
 '2016-05-24',
 '2016-05-23',
 '2016-05-22',
 '2016-05-21',
 '2016-05-20',
 '2016-05-19',
 '2016-05-18',
 '2016-05-17',
 '2016-05-16',
 '2016-05-15',
 '2016-05-14',
 '2016-05-13',
 '2016-05-12',
 '2016-05-11',
 '2016-05-10',
 '2016-05-09',
 '2016-05-08',
 '2016-05-07',
 '2016-05-06',
 '2016-05-05',
 '2016-05-04',
 '2016-05-03',
 '2016-05-02',
 '2016-05-01',
 '2016-04-30',
 '2016-04-29',
 '2016-04-28',
 '2016-04-27',
 '2016-04-26',
 '2016-04-25',
 '2016-04-24',
 '2016-04-23',
 '2016-04-22',
 '2016-04-21',
 '2016-04-20',
 '2016-04-19',
 '2016-04-18',
 '2016-04-17',
 '2016-04-16',
 '2016-04-15',
 '2016-04-14',
 '2016-04-13',
 '2016-04-12',
 '2016-04-11',
 '2016-04-10',
 '2016-04-09',
 '2016-04-08',
 '2016-04-07',
 '2016-04-06',
 '2016-04-05',
 '2016-04-04',
 '2016-04-03',
 '2016-04-02',
 '2016-04-01',
 '2016-03-31',
 '2016-03-30',
 '2016-03-29',
 '2016-03-28',
 '2016-03-27',
 '2016-03-26',
 '2016-03-25',
 '2016-03-24',
 '2016-03-23',
 '2016-03-22',
 '2016-03-21',
 '2016-03-20',
 '2016-03-19',
 '2016-03-18',
 '2016-03-17',
 '2016-03-16',
 '2016-03-15',
 '2016-03-14',
 '2016-03-13',
 '2016-03-12',
 '2016-03-11',
 '2016-03-10',
 '2016-03-09',
 '2016-03-08',
 '2016-03-07',
 '2016-03-06',
 '2016-03-05',
 '2016-03-04',
 '2016-03-03',
 '2016-03-02',
 '2016-03-01',
 '2016-02-29',
 '2016-02-28',
 '2016-02-27',
 '2016-02-26',
 '2016-02-25',
 '2016-02-24',
 '2016-02-23',
 '2016-02-22',
 '2016-02-21',
 '2016-02-20',
 '2016-02-19',
 '2016-02-18',
 '2016-02-17',
 '2016-02-16',
 '2016-02-15',
 '2016-02-14',
 '2016-02-13',
 '2016-02-12',
 '2016-02-11',
 '2016-02-10',
 '2016-02-09',
 '2016-02-08',
 '2016-02-07']

In [31]:
# Read in data that I am missing from FitBit

In [92]:
sleep_list = []
api_calls = 0  # FitBit allows 150 in an hour
date_iter = datetime.now().date()
end_date = pd.to_datetime('2015-12-09').date()  # This is when I started collecting data
while api_calls < 150 and date_iter >= end_date:
    date_str = str(date_iter)
    print(date_str)
    if (date_str in dates_we_have_data_for) or (date_str in dates_without_fitbit_data):
        date_iter = date_iter - timedelta(days=1)
        continue

    try:
        sleep_day = authd_client.get_sleep(date_iter)['sleep'][0]
        sleep_list.append(sleep_day)
        print("Adding " + str(sleep_day['dateOfSleep']))
        zeroes = 0
    except:
        zeroes += 1
        print('Zero at: ' + str(date_iter))
        print(traceback.format_exc())
    date_iter = date_iter - timedelta(days=1)
    api_calls += 1

2016-12-14
2016-12-13
2016-12-12
2016-12-11
2016-12-10
2016-12-09
2016-12-08
2016-12-07
2016-12-06
2016-12-05
2016-12-04
2016-12-03
2016-12-02
2016-12-01
2016-11-30
2016-11-29
2016-11-28
2016-11-27
2016-11-26
2016-11-25
2016-11-24
2016-11-23
2016-11-22
2016-11-21
2016-11-20
2016-11-19
2016-11-18
2016-11-17
2016-11-16
2016-11-15
2016-11-14
2016-11-13
2016-11-12
2016-11-11
2016-11-10
2016-11-09
2016-11-08
2016-11-07
2016-11-06
2016-11-05
2016-11-04
2016-11-03
2016-11-02
2016-11-01
2016-10-31
2016-10-30
2016-10-29
2016-10-28
2016-10-27
2016-10-26
2016-10-25
2016-10-24
2016-10-23
2016-10-22
2016-10-21
2016-10-20
2016-10-19
2016-10-18
2016-10-17
2016-10-16
2016-10-15
2016-10-14
2016-10-13
2016-10-12
2016-10-11
2016-10-10
2016-10-09
2016-10-08
2016-10-07
2016-10-06
2016-10-05
2016-10-04
2016-10-03
2016-10-02
2016-10-01
2016-09-30
2016-09-29
2016-09-28
2016-09-27
2016-09-26
2016-09-25
2016-09-24
2016-09-23
2016-09-22
2016-09-21
2016-09-20
2016-09-19
2016-09-18
2016-09-17
2016-09-16
2016-09-15
2016-09-14
2016-09-13
2016-09-12
2016-09-11
2016-09-10
2016-09-09
2016-09-08
2016-09-07
2016-09-06
2016-09-05
2016-09-04
2016-09-03
2016-09-02
2016-09-01
2016-08-31
2016-08-30
2016-08-29
2016-08-28
2016-08-27
2016-08-26
2016-08-25
2016-08-24
2016-08-23
2016-08-22
2016-08-21
2016-08-20
2016-08-19
2016-08-18
2016-08-17
2016-08-16
2016-08-15
2016-08-14
2016-08-13
2016-08-12
2016-08-11
2016-08-10
2016-08-09
2016-08-08
2016-08-07
2016-08-06
2016-08-05
2016-08-04
2016-08-03
2016-08-02
2016-08-01
2016-07-31
2016-07-30
2016-07-29
2016-07-28
2016-07-27
2016-07-26
2016-07-25
2016-07-24
2016-07-23
2016-07-22
2016-07-21
2016-07-20
2016-07-19
2016-07-18
2016-07-17
2016-07-16
2016-07-15
2016-07-14
2016-07-13
2016-07-12
2016-07-11
2016-07-10
2016-07-09
2016-07-08
2016-07-07
2016-07-06
2016-07-05
2016-07-04
2016-07-03
2016-07-02
2016-07-01
2016-06-30
2016-06-29
2016-06-28
2016-06-27
2016-06-26
2016-06-25
2016-06-24
2016-06-23
2016-06-22
2016-06-21
2016-06-20
2016-06-19
2016-06-18
2016-06-17
2016-06-16
2016-06-15
2016-06-14
2016-06-13
2016-06-12
2016-06-11
2016-06-10
2016-06-09
2016-06-08
2016-06-07
2016-06-06
2016-06-05
2016-06-04
2016-06-03
2016-06-02
2016-06-01
2016-05-31
2016-05-30
2016-05-29
2016-05-28
2016-05-27
2016-05-26
2016-05-25
2016-05-24
2016-05-23
2016-05-22
2016-05-21
2016-05-20
2016-05-19
2016-05-18
2016-05-17
2016-05-16
2016-05-15
2016-05-14
2016-05-13
2016-05-12
2016-05-11
2016-05-10
2016-05-09
2016-05-08
2016-05-07
2016-05-06
2016-05-05
2016-05-04
2016-05-03
2016-05-02
2016-05-01
2016-04-30
2016-04-29
2016-04-28
2016-04-27
2016-04-26
2016-04-25
2016-04-24
2016-04-23
2016-04-22
2016-04-21
2016-04-20
2016-04-19
2016-04-18
2016-04-17
2016-04-16
2016-04-15
2016-04-14
2016-04-13
2016-04-12
2016-04-11
2016-04-10
2016-04-09
2016-04-08
2016-04-07
2016-04-06
2016-04-05
2016-04-04
2016-04-03
2016-04-02
2016-04-01
2016-03-31
2016-03-30
2016-03-29
2016-03-28
2016-03-27
2016-03-26
2016-03-25
2016-03-24
2016-03-23
2016-03-22
2016-03-21
2016-03-20
2016-03-19
2016-03-18
2016-03-17
2016-03-16
2016-03-15
2016-03-14
2016-03-13
2016-03-12
2016-03-11
2016-03-10
2016-03-09
2016-03-08
2016-03-07
2016-03-06
2016-03-05
2016-03-04
2016-03-03
2016-03-02
2016-03-01
2016-02-29
2016-02-28
2016-02-27
2016-02-26
2016-02-25
2016-02-24
2016-02-23
2016-02-22
2016-02-21
2016-02-20
2016-02-19
2016-02-18
2016-02-17
2016-02-16
2016-02-15
2016-02-14
2016-02-13
2016-02-12
2016-02-11
2016-02-10
2016-02-09
2016-02-08
2016-02-07
2016-02-06
Adding 2016-02-06
2016-02-05
Adding 2016-02-05
2016-02-04
Adding 2016-02-04
2016-02-03
Adding 2016-02-03
2016-02-02
Adding 2016-02-02
2016-02-01
Adding 2016-02-01
2016-01-31
Adding 2016-01-31
2016-01-30
Adding 2016-01-30
2016-01-29
Adding 2016-01-29
2016-01-28
Adding 2016-01-28
2016-01-27
Adding 2016-01-27
2016-01-26
Adding 2016-01-26
2016-01-25
Adding 2016-01-25
2016-01-24
Adding 2016-01-24
2016-01-23
Adding 2016-01-23
2016-01-22
Adding 2016-01-22
2016-01-21
Adding 2016-01-21
2016-01-20
Adding 2016-01-20
2016-01-19
Adding 2016-01-19
2016-01-18
Adding 2016-01-18
2016-01-17
Adding 2016-01-17
2016-01-16
Adding 2016-01-16
2016-01-15
Adding 2016-01-15
2016-01-14
Adding 2016-01-14
2016-01-13
Adding 2016-01-13
2016-01-12
Adding 2016-01-12
2016-01-11
Adding 2016-01-11
2016-01-10
Adding 2016-01-10
2016-01-09
Adding 2016-01-09
2016-01-08
Adding 2016-01-08
2016-01-07
Adding 2016-01-07
2016-01-06
Adding 2016-01-06
2016-01-05
Adding 2016-01-05
2016-01-04
Adding 2016-01-04
2016-01-03
Adding 2016-01-03
2016-01-02
Adding 2016-01-02
2016-01-01
Adding 2016-01-01
2015-12-31
Adding 2015-12-31
2015-12-30
Adding 2015-12-30
2015-12-29
Adding 2015-12-29
2015-12-28
Adding 2015-12-28
2015-12-27
Adding 2015-12-27
2015-12-26
Adding 2015-12-26
2015-12-25
Adding 2015-12-25
2015-12-24
Adding 2015-12-24
2015-12-23
Adding 2015-12-23
2015-12-22
Adding 2015-12-22
2015-12-21
Adding 2015-12-21
2015-12-20
Adding 2015-12-20
2015-12-19
Adding 2015-12-19
2015-12-18
Adding 2015-12-18
2015-12-17
Adding 2015-12-17
2015-12-16
Adding 2015-12-16
2015-12-15
Adding 2015-12-15
2015-12-14
Adding 2015-12-14
2015-12-13
Zero at: 2015-12-13
Traceback (most recent call last):
  File "<ipython-input-92-0a1874b365ee>", line 13, in <module>
    sleep_day = authd_client.get_sleep(date_iter)['sleep'][0]
IndexError: list index out of range

2015-12-12
Adding 2015-12-12
2015-12-11
Adding 2015-12-11
2015-12-10
Adding 2015-12-10
2015-12-09
Adding 2015-12-09

In [93]:
# Move the new data to a data frame and merge with the old data
new_data = pd.DataFrame(sleep_list)
new_data = new_data.drop('minuteData', 1)  # Drop this huge field for now -- not gonna use it
new_data['dateOfSleep'] = pd.to_datetime(new_data['dateOfSleep'])
new_data

,awakeCount,awakeDuration,awakeningsCount,dateOfSleep,duration,efficiency,isMainSleep,logId,minutesAfterWakeup,minutesAsleep,minutesAwake,minutesToFallAsleep,restlessCount,restlessDuration,startTime,timeInBed
0,1,1,3,2016-02-06,20520000,99,True,10813865776,0,339,3,0,2,2,2016-02-06T00:36:00.000,342
1,0,0,2,2016-02-05,28080000,100,True,10813865775,0,466,2,0,2,2,2016-02-04T22:24:00.000,468
2,2,2,5,2016-02-04,24240000,98,True,10803275518,0,397,7,0,3,5,2016-02-03T23:04:00.000,404
3,0,0,3,2016-02-03,29700000,99,True,10789753230,0,491,4,0,3,4,2016-02-02T21:46:00.000,495
4,1,5,12,2016-02-02,11940000,89,False,10782107009,0,178,21,0,11,16,2016-02-01T20:48:30.000,199
5,2,6,17,2016-02-01,27960000,94,True,10772284829,3,434,29,0,15,26,2016-01-31T22:01:00.000,466
6,1,2,3,2016-01-31,30240000,99,True,10766559542,0,500,4,0,2,2,2016-01-30T22:37:00.000,504
7,0,0,8,2016-01-30,33900000,98,True,10755703557,0,555,10,0,8,10,2016-01-29T21:52:30.000,565
8,2,3,10,2016-01-29,27840000,96,True,10751059885,1,445,18,0,8,16,2016-01-28T22:36:00.000,464
9,3,9,12,2016-01-28,29340000,95,True,10740555623,0,463,23,3,9,17,2016-01-27T21:31:00.000,489
10,0,0,8,2016-01-27,24240000,95,True,10730182957,0,384,20,0,8,20,2016-01-26T23:14:00.000,404
11,0,0,10,2016-01-26,27720000,97,True,10723083444,0,448,14,0,10,14,2016-01-25T21:40:00.000,462
12,1,3,9,2016-01-25,31200000,97,True,10714590807,1,506,13,0,8,11,2016-01-24T21:21:00.000,520
13,1,3,4,2016-01-24,15780000,96,True,10709157613,0,253,10,0,3,7,2016-01-24T00:17:00.000,263
14,1,2,16,2016-01-23,28260000,95,True,10699045252,0,448,23,0,15,21,2016-01-22T23:57:00.000,471
15,1,2,7,2016-01-22,29340000,98,True,10694406618,0,481,8,0,6,6,2016-01-21T22:09:00.000,489
16,1,2,3,2016-01-21,18000000,99,True,10684096765,0,296,4,0,2,2,2016-01-21T01:06:30.000,300
17,0,0,3,2016-01-20,22860000,99,True,10674663710,0,378,3,0,3,3,2016-01-19T23:48:30.000,381
18,0,0,9,2016-01-19,30720000,97,True,10670871176,0,499,13,0,9,13,2016-01-18T21:50:00.000,512
19,1,3,3,2016-01-18,26340000,99,True,10656689395,0,434,5,0,2,2,2016-01-17T23:42:00.000,439
20,1,1,10,2016-01-17,32940000,96,True,10650761037,0,527,22,0,9,21,2016-01-16T22:21:00.000,549
21,1,1,6,2016-01-16,26280000,99,True,10643459903,0,432,6,0,5,5,2016-01-15T23:58:00.000,438
22,1,2,2,2016-01-15,26280000,99,True,10633769353,0,435,3,0,1,1,2016-01-14T22:50:00.000,438
23,1,2,6,2016-01-14,31740000,97,True,10625337301,0,513,16,0,5,14,2016-01-13T21:28:00.000,529
24,1,2,7,2016-01-13,18240000,97,True,10609070046,0,294,10,0,6,8,2016-01-13T01:00:30.000,304
25,0,0,4,2016-01-12,25140000,98,True,10590130449,0,412,7,0,4,7,2016-01-11T23:13:00.000,419
26,1,4,6,2016-01-11,22320000,97,True,10575627621,0,361,11,0,5,7,2016-01-10T22:11:30.000,372
27,0,0,9,2016-01-10,28200000,97,True,10567034972,0,458,12,0,9,12,2016-01-09T22:31:30.000,470
28,1,1,10,2016-01-09,29820000,97,True,10560506434,0,482,15,0,9,14,2016-01-08T22:57:00.000,497
29,2,5,8,2016-01-08,30420000,97,True,10552326634,1,492,14,0,6,10,2016-01-07T21:46:00.000,507
30,1,3,4,2016-01-07,19800000,98,True,10530963997,0,324,6,0,3,3,2016-01-07T00:55:30.000,330
31,1,1,4,2016-01-06,21420000,98,True,10524113150,0,350,7,0,3,6,2016-01-06T00:19:00.000,357
32,1,4,5,2016-01-05,28560000,97,True,10506583442,0,463,13,0,4,9,2016-01-04T22:04:00.000,476
33,1,2,9,2016-01-04,29100000,97,True,10490878688,0,469,16,0,8,14,2016-01-03T21:54:00.000,485
34,2,5,9,2016-01-03,24120000,96,True,10482334332,0,384,18,0,7,13,2016-01-03T00:30:00.000,402
35,2,3,16,2016-01-02,33360000,96,True,10476129593,3,532,21,0,14,21,2016-01-01T21:53:30.000,556
36,1,2,2,2016-01-01,9000000,98,True,10467556525,0,147,3,0,1,1,2016-01-01T02:25:30.000,150
37,0,0,10,2015-12-31,28320000,97,True,10461112291,0,457,15,0,10,15,2015-12-30T22:43:00.000,472
38,0,0,5,2015-12-30,27120000,98,True,10454428842,0,445,7,0,5,7,2015-12-29T22:28:00.000,452
39,1,1,8,2015-12-29,28140000,98,True,10437730816,0,446,10,13,7,22,2015-12-28T21:41:00.000,469
40,1,1,11,2015-12-28,31620000,97,True,10423620404,0,512,15,0,10,14,2015-12-27T21:20:30.000,527
41,1,2,7,2015-12-27,21840000,96,True,10417727139,0,351,13,0,6,11,2015-12-26T23:57:30.000,364
42,2,5,8,2015-12-26,29340000,97,True,10411370507,0,474,15,0,6,10,2015-12-25T22:51:30.000,489
43,1,2,11,2015-12-25,21600000,93,True,10404740783,1,333,26,0,10,25,2015-12-25T00:21:00.000,360
44,2,3,13,2015-12-24,27120000,95,True,10400473856,4,427,21,0,11,22,2015-12-23T22:57:30.000,452
45,3,4,15,2015-12-23,29400000,96,True,10387816227,1,469,20,0,12,17,2015-12-22T23:27:00.000,490
46,3,3,6,2015-12-22,1380000,0,True,10382385750,0,0,0,23,3,20,2015-12-22T09:22:26.000,23
47,1,3,14,2015-12-21,29700000,94,True,10377323321,1,466,28,0,13,26,2015-12-20T23:13:00.000,495
48,2,5,13,2015-12-20,27540000,95,True,10371111668,7,431,21,0,11,23,2015-12-19T22:58:00.000,459
49,0,0,7,2015-12-19,29280000,98,True,10366898164,0,477,11,0,7,11,2015-12-18T23:05:30.000,488
50,1,2,11,2015-12-18,25860000,96,True,10362510064,3,413,15,0,10,16,2015-12-17T23:19:30.000,431
51,1,2,4,2015-12-17,27060000,99,True,10357534174,0,446,5,0,3,3,2015-12-16T22:34:00.000,451
52,1,4,11,2015-12-16,29640000,96,True,10355428583,0,472,22,0,10,18,2015-12-15T21:42:30.000,494
53,3,9,10,2015-12-15,22860000,93,True,10346392740,0,354,27,0,7,18,2015-12-14T23:48:00.000,381
54,1,1,8,2015-12-14,31440000,98,True,10338871982,0,512,12,0,7,11,2015-12-13T21:23:00.000,524
55,1,1,14,2015-12-12,26460000,95,True,10329406735,0,420,21,0,13,20,2015-12-11T23:05:30.000,441
56,0,0,12,2015-12-11,28920000,95,True,10323887643,0,460,22,0,12,22,2015-12-10T22:27:30.000,482
57,0,0,10,2015-12-10,23580000,96,True,10319424109,0,379,14,0,10,14,2015-12-10T00:06:30.000,393
58,0,0,9,2015-12-09,25020000,97,True,10314851348,0,405,12,0,9,12,2015-12-08T23:26:00.000,417

In [94]:
sleep_data = sleep_data.append(new_data, verify_integrity=True, ignore_index=True)
sleep_data.dtypes

Unnamed: 0                    float64
Unnamed: 0.1                  float64
awakeCount                      int64
awakeDuration                   int64
awakeningsCount                 int64
dateOfSleep            datetime64[ns]
duration                        int64
efficiency                      int64
isMainSleep                      bool
logId                           int64
minutesAfterWakeup              int64
minutesAsleep                   int64
minutesAwake                    int64
minutesToFallAsleep             int64
restlessCount                   int64
restlessDuration                int64
startTime                      object
timeInBed                       int64
dtype: object

In [95]:
sleep_data

,Unnamed: 0,Unnamed: 0.1,awakeCount,awakeDuration,awakeningsCount,dateOfSleep,duration,efficiency,isMainSleep,logId,minutesAfterWakeup,minutesAsleep,minutesAwake,minutesToFallAsleep,restlessCount,restlessDuration,startTime,timeInBed
0,0.0,0.0,1,2,6,2016-12-14,32220000,98,True,13220819856,0,528,9,0,5,7,2016-12-13T21:52:00.000,537
1,1.0,1.0,0,0,3,2016-12-13,24420000,99,True,13212858521,0,404,3,0,3,3,2016-12-12T23:13:30.000,407
2,2.0,2.0,0,0,3,2016-12-12,28680000,99,True,13204023165,0,472,6,0,3,6,2016-12-11T22:13:00.000,478
3,3.0,3.0,1,2,4,2016-12-11,29640000,99,True,13198145736,0,489,5,0,3,3,2016-12-10T22:35:30.000,494
4,4.0,4.0,0,0,8,2016-12-10,26040000,95,True,13190828758,0,413,21,0,8,21,2016-12-09T23:59:00.000,434
5,5.0,5.0,0,0,7,2016-12-09,23640000,98,True,13187958640,0,385,9,0,7,9,2016-12-08T23:50:30.000,394
6,6.0,6.0,1,1,8,2016-12-08,25260000,97,True,13178275354,0,407,14,0,7,13,2016-12-07T23:10:00.000,421
7,7.0,7.0,0,0,5,2016-12-07,30360000,98,True,13169494070,0,496,10,0,5,10,2016-12-06T22:08:00.000,506
8,8.0,8.0,2,5,9,2016-12-06,29040000,97,True,13163425914,4,466,14,0,7,13,2016-12-05T22:02:00.000,484
9,9.0,9.0,1,1,5,2016-12-05,31200000,99,True,13153013158,0,513,7,0,4,6,2016-12-04T21:17:00.000,520
10,10.0,10.0,0,0,4,2016-12-04,23700000,98,True,13147060884,0,389,6,0,4,6,2016-12-04T00:24:30.000,395
11,11.0,11.0,2,5,15,2016-12-03,33300000,95,True,13140290216,6,521,28,0,13,29,2016-12-02T22:35:30.000,555
12,12.0,12.0,0,0,0,2016-12-02,24660000,100,True,13134692192,0,411,0,0,0,0,2016-12-01T23:42:00.000,411
13,13.0,13.0,2,17,12,2016-12-01,31860000,94,True,13125910983,0,500,31,0,10,14,2016-11-30T21:16:00.000,531
14,14.0,14.0,0,0,1,2016-11-30,19800000,99,True,13119003075,0,328,2,0,1,2,2016-11-30T00:26:00.000,330
15,15.0,15.0,1,2,5,2016-11-29,26520000,97,True,13111237486,1,429,12,0,4,11,2016-11-28T22:55:00.000,442
16,16.0,16.0,1,3,10,2016-11-28,31020000,97,True,13103928842,0,499,18,0,9,15,2016-11-27T21:32:00.000,517
17,17.0,17.0,0,0,4,2016-11-27,26580000,99,True,13096137748,0,439,4,0,4,4,2016-11-26T23:40:00.000,443
18,18.0,18.0,1,1,15,2016-11-26,31080000,96,True,13090165147,0,496,22,0,14,21,2016-11-25T22:32:00.000,518
19,19.0,19.0,1,2,6,2016-11-25,27120000,98,True,13081595639,2,439,11,0,5,11,2016-11-24T23:27:30.000,452
20,20.0,20.0,2,3,12,2016-11-24,34740000,96,True,13076905829,0,556,23,0,10,20,2016-11-23T22:29:00.000,579
21,21.0,21.0,0,0,5,2016-11-23,24780000,99,True,13072159346,1,407,5,0,5,6,2016-11-22T23:36:30.000,413
22,22.0,22.0,1,3,8,2016-11-22,26880000,97,True,13062094618,0,434,14,0,7,11,2016-11-21T22:44:00.000,448
23,23.0,23.0,0,0,6,2016-11-21,30600000,98,True,13052666846,0,498,12,0,6,12,2016-11-20T21:06:00.000,510
24,24.0,24.0,0,0,2,2016-11-20,28080000,99,True,13049825247,0,465,3,0,2,3,2016-11-19T23:43:00.000,468
25,25.0,25.0,0,0,3,2016-11-19,22800000,98,True,13049825246,0,374,6,0,3,6,2016-11-19T01:17:00.000,380
26,26.0,26.0,0,0,2,2016-11-18,20940000,99,True,13033712989,0,346,3,0,2,3,2016-11-18T00:24:30.000,349
27,27.0,27.0,1,2,10,2016-11-17,28740000,97,True,13026264943,2,463,14,0,9,14,2016-11-16T21:52:30.000,479
28,28.0,28.0,0,0,2,2016-11-16,26220000,99,True,13019052972,0,434,3,0,2,3,2016-11-15T23:30:00.000,437
29,29.0,29.0,2,6,8,2016-11-15,25260000,95,True,13010885720,0,399,22,0,6,16,2016-11-14T22:44:00.000,421
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
329,NaN,NaN,2,5,8,2016-01-08,30420000,97,True,10552326634,1,492,14,0,6,10,2016-01-07T21:46:00.000,507
330,NaN,NaN,1,3,4,2016-01-07,19800000,98,True,10530963997,0,324,6,0,3,3,2016-01-07T00:55:30.000,330
331,NaN,NaN,1,1,4,2016-01-06,21420000,98,True,10524113150,0,350,7,0,3,6,2016-01-06T00:19:00.000,357
332,NaN,NaN,1,4,5,2016-01-05,28560000,97,True,10506583442,0,463,13,0,4,9,2016-01-04T22:04:00.000,476
333,NaN,NaN,1,2,9,2016-01-04,29100000,97,True,10490878688,0,469,16,0,8,14,2016-01-03T21:54:00.000,485
334,NaN,NaN,2,5,9,2016-01-03,24120000,96,True,10482334332,0,384,18,0,7,13,2016-01-03T00:30:00.000,402
335,NaN,NaN,2,3,16,2016-01-02,33360000,96,True,10476129593,3,532,21,0,14,21,2016-01-01T21:53:30.000,556
336,NaN,NaN,1,2,2,2016-01-01,9000000,98,True,10467556525,0,147,3,0,1,1,2016-01-01T02:25:30.000,150
337,NaN,NaN,0,0,10,2015-12-31,28320000,97,True,10461112291,0,457,15,0,10,15,2015-12-30T22:43:00.000,472
338,NaN,NaN,0,0,5,2015-12-30,27120000,98,True,10454428842,0,445,7,0,5,7,2015-12-29T22:28:00.000,452
339,NaN,NaN,1,1,8,2015-12-29,28140000,98,True,10437730816,0,446,10,13,7,22,2015-12-28T21:41:00.000,469
340,NaN,NaN,1,1,11,2015-12-28,31620000,97,True,10423620404,0,512,15,0,10,14,2015-12-27T21:20:30.000,527
341,NaN,NaN,1,2,7,2015-12-27,21840000,96,True,10417727139,0,351,13,0,6,11,2015-12-26T23:57:30.000,364
342,NaN,NaN,2,5,8,2015-12-26,29340000,97,True,10411370507,0,474,15,0,6,10,2015-12-25T22:51:30.000,489
343,NaN,NaN,1,2,11,2015-12-25,21600000,93,True,10404740783,1,333,26,0,10,25,2015-12-25T00:21:00.000,360
344,NaN,NaN,2,3,13,2015-12-24,27120000,95,True,10400473856,4,427,21,0,11,22,2015-12-23T22:57:30.000,452
345,NaN,NaN,3,4,15,2015-12-23,29400000,96,True,10387816227,1,469,20,0,12,17,2015-12-22T23:27:00.000,490
346,NaN,NaN,3,3,6,2015-12-22,1380000,0,True,10382385750,0,0,0,23,3,20,2015-12-22T09:22:26.000,23
347,NaN,NaN,1,3,14,2015-12-21,29700000,94,True,10377323321,1,466,28,0,13,26,2015-12-20T23:13:00.000,495
348,NaN,NaN,2,5,13,2015-12-20,27540000,95,True,10371111668,7,431,21,0,11,23,2015-12-19T22:58:00.000,459
349,NaN,NaN,0,0,7,2015-12-19,29280000,98,True,10366898164,0,477,11,0,7,11,2015-12-18T23:05:30.000,488
350,NaN,NaN,1,2,11,2015-12-18,25860000,96,True,10362510064,3,413,15,0,10,16,2015-12-17T23:19:30.000,431
351,NaN,NaN,1,2,4,2015-12-17,27060000,99,True,10357534174,0,446,5,0,3,3,2015-12-16T22:34:00.000,451
352,NaN,NaN,1,4,11,2015-12-16,29640000,96,True,10355428583,0,472,22,0,10,18,2015-12-15T21:42:30.000,494
353,NaN,NaN,3,9,10,2015-12-15,22860000,93,True,10346392740,0,354,27,0,7,18,2015-12-14T23:48:00.000,381
354,NaN,NaN,1,1,8,2015-12-14,31440000,98,True,10338871982,0,512,12,0,7,11,2015-12-13T21:23:00.000,524
355,NaN,NaN,1,1,14,2015-12-12,26460000,95,True,10329406735,0,420,21,0,13,20,2015-12-11T23:05:30.000,441
356,NaN,NaN,0,0,12,2015-12-11,28920000,95,True,10323887643,0,460,22,0,12,22,2015-12-10T22:27:30.000,482
357,NaN,NaN,0,0,10,2015-12-10,23580000,96,True,10319424109,0,379,14,0,10,14,2015-12-10T00:06:30.000,393
358,NaN,NaN,0,0,9,2015-12-09,25020000,97,True,10314851348,0,405,12,0,9,12,2015-12-08T23:26:00.000,417

In [53]:
sleep_data = sleep_data.set_index('dateOfSleep').sort_index()
sleep_data.head()

,awakeCount,awakeDuration,awakeningsCount,duration,efficiency,isMainSleep,logId,minutesAfterWakeup,minutesAsleep,minutesAwake,minutesToFallAsleep,restlessCount,restlessDuration,startTime,timeInBed
dateOfSleep,,,,,,,,,,,,,,,
2015-12-09,0,0,9,25020000,97,True,10314851348,0,405,12,0,9,12,2015-12-08T23:26:00.000,417
2015-12-10,0,0,10,23580000,96,True,10319424109,0,379,14,0,10,14,2015-12-10T00:06:30.000,393
2015-12-11,0,0,12,28920000,95,True,10323887643,0,460,22,0,12,22,2015-12-10T22:27:30.000,482
2015-12-12,1,1,14,26460000,95,True,10329406735,0,420,21,0,13,20,2015-12-11T23:05:30.000,441
2015-12-14,1,1,8,31440000,98,True,10338871982,0,512,12,0,7,11,2015-12-13T21:23:00.000,524

In [54]:
sleep_data.tail()

,awakeCount,awakeDuration,awakeningsCount,duration,efficiency,isMainSleep,logId,minutesAfterWakeup,minutesAsleep,minutesAwake,minutesToFallAsleep,restlessCount,restlessDuration,startTime,timeInBed
dateOfSleep,,,,,,,,,,,,,,,
2016-12-10,0,0,8,26040000,95,True,13190828758,0,413,21,0,8,21,2016-12-09T23:59:00.000,434
2016-12-11,1,2,4,29640000,99,True,13198145736,0,489,5,0,3,3,2016-12-10T22:35:30.000,494
2016-12-12,0,0,3,28680000,99,True,13204023165,0,472,6,0,3,6,2016-12-11T22:13:00.000,478
2016-12-13,0,0,3,24420000,99,True,13212858521,0,404,3,0,3,3,2016-12-12T23:13:30.000,407
2016-12-14,1,2,6,32220000,98,True,13220819856,0,528,9,0,5,7,2016-12-13T21:52:00.000,537

In [96]:
sleep_data.to_csv('data/sleep_list.csv')