In [4]:
import fitbit
import pandas as pd

In [2]:
client_id = ''
client_secret = ''
redirect_uri = ""

In [70]:
authd_client = fitbit.Fitbit(client_id, client_secret,
                             access_token='')

In [60]:
d = pd.to_datetime('9/2/2016').date()

In [61]:
sleep_day = authd_client.get_sleep(d)['sleep'][0]

IndexError: list index out of range

In [54]:
a = pd.DataFrame([sleep_day])
a.head()

,awakeCount,awakeDuration,awakeningsCount,dateOfSleep,duration,efficiency,isMainSleep,logId,minuteData,minutesAfterWakeup,minutesAsleep,minutesAwake,minutesToFallAsleep,restlessCount,restlessDuration,startTime,timeInBed
0,0,0,7,2016-12-09,23640000,98,True,13187958640,"[{'value': '1', 'dateTime': '23:50:30'}, {'val...",0,385,9,0,7,9,2016-12-08T23:50:30.000,394

In [57]:
from datetime import datetime, timedelta
import traceback

In [73]:
sleep_list = []
zeroes = 0
api_calls = 0
date_iter = d = pd.to_datetime('12/3/2015').date()
while zeroes < 5 and api_calls < 150:
    try:
        sleep_day = authd_client.get_sleep(date_iter)['sleep'][0]
        sleep_list.append(sleep_day)
        print("Adding " + str(sleep_day['dateOfSleep']))
        zeroes = 0
    except:
        zeroes += 1
        print('Zero at: ' + str(date_iter))
        print(traceback.format_exc())
    date_iter = date_iter - timedelta(days=1)
    api_calls += 1

Zero at: 2015-12-03
Traceback (most recent call last):
  File "<ipython-input-73-d254eeef5ee7>", line 7, in <module>
    sleep_day = authd_client.get_sleep(date_iter)['sleep'][0]
IndexError: list index out of range

Zero at: 2015-12-02
Traceback (most recent call last):
  File "<ipython-input-73-d254eeef5ee7>", line 7, in <module>
    sleep_day = authd_client.get_sleep(date_iter)['sleep'][0]
IndexError: list index out of range

Zero at: 2015-12-01
Traceback (most recent call last):
  File "<ipython-input-73-d254eeef5ee7>", line 7, in <module>
    sleep_day = authd_client.get_sleep(date_iter)['sleep'][0]
IndexError: list index out of range

Zero at: 2015-11-30
Traceback (most recent call last):
  File "<ipython-input-73-d254eeef5ee7>", line 7, in <module>
    sleep_day = authd_client.get_sleep(date_iter)['sleep'][0]
IndexError: list index out of range

Zero at: 2015-11-29
Traceback (most recent call last):
  File "<ipython-input-73-d254eeef5ee7>", line 7, in <module>
    sleep_day = authd_client.get_sleep(date_iter)['sleep'][0]
IndexError: list index out of range

In [66]:
a = pd.DataFrame(sleep_list)
a = a.drop('minuteData', 1)
a.head()

,awakeCount,awakeDuration,awakeningsCount,dateOfSleep,duration,efficiency,isMainSleep,logId,minutesAfterWakeup,minutesAsleep,minutesAwake,minutesToFallAsleep,restlessCount,restlessDuration,startTime,timeInBed
0,1,2,5,2016-03-16,26100000,98,True,11137248041,0,427,8,0,4,6,2016-03-15T22:40:00.000,435
1,1,2,8,2016-03-15,27360000,96,True,11129234410,5,435,16,0,7,19,2016-03-14T22:34:00.000,456
2,1,1,6,2016-03-14,30240000,99,True,11121265259,1,498,5,0,5,5,2016-03-13T21:23:30.000,504
3,1,1,1,2016-03-13,3660000,98,False,11112831867,0,60,1,0,0,0,2016-03-13T07:39:00.000,61
4,1,3,5,2016-03-12,34080000,99,True,11107100504,0,561,7,0,4,4,2016-03-11T22:06:30.000,568

In [67]:
with open('data/sleep_list.csv', 'a') as f:
    a.to_csv(f, header=False)