In [18]:
import pandas as pd
from datetime import datetime, timedelta

In [8]:
sleep_data = pd.read_csv('data/sleep_list.csv')
sleep_data['dateOfSleep'] = pd.to_datetime(sleep_data['dateOfSleep'])
sleep_data['startTime'] = pd.to_datetime(sleep_data['startTime'])
sleep_data.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,awakeCount,awakeDuration,awakeningsCount,dateOfSleep,duration,efficiency,isMainSleep,logId,minutesAfterWakeup,minutesAsleep,minutesAwake,minutesToFallAsleep,restlessCount,restlessDuration,startTime,timeInBed
0,0,0.0,0.0,1,2,6,2016-12-14,32220000,98,True,13220819856,0,528,9,0,5,7,2016-12-13 21:52:00,537
1,1,1.0,1.0,0,0,3,2016-12-13,24420000,99,True,13212858521,0,404,3,0,3,3,2016-12-12 23:13:30,407
2,2,2.0,2.0,0,0,3,2016-12-12,28680000,99,True,13204023165,0,472,6,0,3,6,2016-12-11 22:13:00,478
3,3,3.0,3.0,1,2,4,2016-12-11,29640000,99,True,13198145736,0,489,5,0,3,3,2016-12-10 22:35:30,494
4,4,4.0,4.0,0,0,8,2016-12-10,26040000,95,True,13190828758,0,413,21,0,8,21,2016-12-09 23:59:00,434

In [9]:
sleep_data = sleep_data[['dateOfSleep', 'awakeningsCount', 'duration', 'efficiency', 'minutesAsleep',
                         'minutesAwake', 'minutesToFallAsleep', 'restlessCount', 'startTime', 'timeInBed']]
sleep_data.head()

,dateOfSleep,awakeningsCount,duration,efficiency,minutesAsleep,minutesAwake,minutesToFallAsleep,restlessCount,startTime,timeInBed
0,2016-12-14,6,32220000,98,528,9,0,5,2016-12-13 21:52:00,537
1,2016-12-13,3,24420000,99,404,3,0,3,2016-12-12 23:13:30,407
2,2016-12-12,3,28680000,99,472,6,0,3,2016-12-11 22:13:00,478
3,2016-12-11,4,29640000,99,489,5,0,3,2016-12-10 22:35:30,494
4,2016-12-10,8,26040000,95,413,21,0,8,2016-12-09 23:59:00,434

In [10]:
sleep_data = sleep_data.set_index('dateOfSleep')
sleep_data.dtypes

awakeningsCount                 int64
duration                        int64
efficiency                      int64
minutesAsleep                   int64
minutesAwake                    int64
minutesToFallAsleep             int64
restlessCount                   int64
startTime              datetime64[ns]
timeInBed                       int64
dtype: object

In [28]:
today = datetime.now().date()
seven_days_ago = str(today - timedelta(days=6))
today = str(today)
today

'2016-12-14'

In [30]:
sleep_data.loc[seven_days_ago:today]

Empty DataFrame
Columns: [awakeningsCount, duration, efficiency, minutesAsleep, minutesAwake, minutesToFallAsleep, restlessCount, startTime, timeInBed]
Index: []

In [26]:
sleep_data['2016-12-13':'2016-12-10']

,awakeningsCount,duration,efficiency,minutesAsleep,minutesAwake,minutesToFallAsleep,restlessCount,startTime,timeInBed
dateOfSleep,,,,,,,,,
2016-12-13,3,24420000,99,404,3,0,3,2016-12-12 23:13:30,407
2016-12-12,3,28680000,99,472,6,0,3,2016-12-11 22:13:00,478
2016-12-11,4,29640000,99,489,5,0,3,2016-12-10 22:35:30,494
2016-12-10,8,26040000,95,413,21,0,8,2016-12-09 23:59:00,434